@model List<SocialNetwork.Models.Post>

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    List<SocialNetwork.Models.Post> posts = Model as List<SocialNetwork.Models.Post>;
}
<div class="container">
    <table class="table">
        @foreach (var post in posts)
        {
            <tr>
                <td>
                    Pulished by @post.User.FirstName @post.User.LastName
                    <br /><br />
                    <strong style="font-size:200%">
                        @post.Title
                    </strong><br />
                    @post.Content
                    <br />
                    <text id="@post.PostID">@post.Likes</text> Likes |
                    <a onclick="addPostLike(@post.PostID)" class="like">Like</a>

                    @if (post.UserId == Convert.ToInt32(Session["UserId"]) || Session["Admin"] != null)
                {
                        @Html.Raw("| ") @Html.ActionLink("Edit post", "Edit", "Posts", new { postId = post.PostID }, null)
                        @Html.Raw(" | ") @Html.ActionLink("Delete post", "Delete", "Posts", new { postId = post.PostID }, null)
                    }
                </td>
            </tr>

            <tr>
                <td>

                    @foreach (var comment in post.Comments)
                {
                        @Html.Raw("Posted by: ") @comment.User.FirstName @Html.Raw(" ") @comment.User.LastName <br />
                        @comment.Content <br />
                    }
                    @Html.ActionLink("Add Comment", "Create", "Comments", new { postId = post.PostID }, null)

                    <hr />
                </td>

            </tr>

        }
    </table>
</div>



@section Header{
    <header class="major">
        <h2>
            News Feed
        </h2>
    </header>
    <!-- Weather -->
    <p>
        Right now in <span id="city"></span> is <span id="description"></span>, temp is <span id="temp"></span>° and humidity is <span id="humidity"></span>% <img src="" id="icon" />
    </p>
    <p>Welcome to your feed :-) <br /> Here you can see what is going on with your friends..</p>
    <input type="button" value="Create Post" onclick="@("window.location.href='" + @Url.Action("Create", "Posts") + "'");" />
}
<script>
    $(function () {
        $.get("http://api.openweathermap.org/data/2.5/weather?q=Rishon&APPID=34fd307363e59882db700266324cf1b3&units=metric", function (response) {
            console.log(response);
            $("#city").text(response.name);
            $("#temp").text(response.main.temp);
            $("#humidity").text(response.main.humidity);
            $("#description").text(response.weather[0].description);
            $("#icon").attr("src", "http://openweathermap.org/img/w/" + response.weather[0].icon + ".png");
        })
    });
</script>
