<!DOCTYPE HTML>

<html>
<head>
    <title>Social Network</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <script src="~/Content/assets/js/jquery.min.js"></script>
</head>
<body id="top">
    <!-- Header -->
    <header id="header">
        <div class="inner">
            @{
                if (Session["UserId"] == null)
                {
                    <h1>Welcome to Social Network</h1>
                    <h2>Please login to continue</h2>
                }
                else
                {
                    <a href="#" class="image avatar"><img src="@Session["ImageUrl"]" alt="" /></a>
                    <h1>
                        <strong style="font-size: 200%">@Session["Fullname"]</strong>

                        <br /><br />
                        <a onclick="@("window.location.href='" + @Url.Action("Home", "Users") + "'");">Home</a><br />
                        <a onclick="@("window.location.href='" + @Url.Action("UserProfile", "Users") + "'");">Profile</a><br />
                        <a onclick="@("window.location.href='" + @Url.Action("UserGroups", "Groups") + "'");">Groups</a><br />
                        
                        @if (Session["Admin"] != null)
                        {
                            <a onclick="@("window.location.href='" + @Url.Action("ControlPanel", "Admin") + "'");">Control Panel</a><br />
                        }

                        <a onclick="@("window.location.href='" + @Url.Action("Logout", "Welcome") + "'");">Logout</a><br />
                    </h1>
                }
            }
        </div>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            @RenderSection("Header", required: false)
        </section>
        <!-- Two -->

        <section id="two">
            <div class="row">
                @RenderBody()
            </div>

        </section>
        
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            @{
                <ul class="copyright">
                    <li>&copy; SocialNetwork</li>
                </ul>
            }
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>
<!-- 'Like' button scripts -->
<script>
    $(function () {
        $('.like').on('click', function () {
            $(this).replaceWith('Liked')
        })
    });

</script>

<script>
    function addPostLike(postId) {
        var id = postId;
        $.ajax({
            type: "POST",
            url: "/Posts/AddLike",
            data: { postId: id },
            success: function (result) {
                $('#' + postId).replaceWith(result);
            }
        });
    };

   
    function addGroupLike(groupId) {
        var id = groupId;
        $.ajax({
            type: "POST",
            url: "/Groups/AddLike",
            data: { groupId: id },
            success: function (result) {
                $('#' + groupId).replaceWith(result);
            }
        });
    };


</script>