<!DOCTYPE HTML>

<html>
<head>
    <title>Social Network</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <script src="~/Content/assets/js/jquery.min.js"></script>
</head>
<body id="top">


    <!-- Header -->
    <header id="header">
        <div class="inner">
            @{
                if (Session["UserId"] == null)
                {
                    <h1>Welcome to Social Network</h1>
                    <h2>Please login to continue</h2>
                }
                else
                {
                    <a href="#" class="image avatar"><img src="@Session["ImageUrl"]" alt="" /></a>
                    <h1>
                        <strong style="font-size: 200%">@Session["Fullname"]</strong>

                        <br /><br />
                        <a onclick="@("window.location.href='" + @Url.Action("Home", "Users") + "'");">Home</a><br />
                        <a onclick="@("window.location.href='" + @Url.Action("UserProfile", "Users") + "'");">Profile</a><br />
                        <a onclick="@("window.location.href='" + @Url.Action("UserGroups", "Groups") + "'");">Groups</a><br />
                        <a onclick="@("window.location.href='" + @Url.Action("Logout", "Users") + "'");">Logout</a><br />
                    </h1>
                }
            }
        </div>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            @RenderSection("Header", required: false)
        </section>
        <!-- Two -->

        <section id="two">
            <div class="row">
                @RenderBody()
            </div>

        </section>

        <!-- Three -->
        @{
            if (Session["UserId"] != null)
            {
                <section id="three">
                    <h2>Search</h2>
                    <div class="row">
                        <div class="8u 12u$(small)">
                            <form method="post" action="#">
                                <div class="row uniform 50%">
                                    <div class="6u 12u$(xsmall)"><input type="text" name="Insert keywords" id="search" placeholder="Search" /></div>
                                </div>
                            </form>
                            <ul class="actions">
                                <li><input type="submit" value="Search" /></li>
                            </ul>
                        </div>
                    </div>
                </section>
            }
        }
        
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            @{
                if (Session["UserId"] != null)
                {
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                    </ul>

                }
                <ul class="copyright">
                    <li>&copy; SocialNetwork</li>
                </ul>
            }
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>
<!-- 'Like' button scripts -->
<script>
    $(function () {
        $('.like').on('click', function () {
            $(this).replaceWith('Liked')
        })
    });

</script>

<script>
    function addPostLike(postId) {
        var id = postId;
        $.ajax({
            type: "POST",
            url: "/Posts/AddLike",
            data: { postId: id },
            success: function (result) {
                $('#' + postId).replaceWith(result);
            }
        });
    };

   
    function addGroupLike(groupId) {
        var id = groupId;
        $.ajax({
            type: "POST",
            url: "/Groups/AddLike",
            data: { groupId: id },
            success: function (result) {
                $('#' + groupId).replaceWith(result);
            }
        });
    };


</script>