@model SocialNetwork.Models.Group

@{
    ViewBag.Title = "ViewGroup";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    List<SocialNetwork.Models.Post> posts = Model.Posts.ToList();
}

    <table class="table">


        @foreach (var post in posts)
        {
            <tr>
                <td>
                    Pulished by @post.User.FirstName @post.User.LastName
                    <br /><br />
                    <strong style="font-size:200%">
                        @post.Title
                    </strong><br />
                    @post.Content
                    <br />
                    <text id="@post.PostID">@post.Likes</text> Likes |
                    <a onclick="addPostLike(@post.PostID)" class="like">Like</a>
                    @if (post.UserId == Convert.ToInt32(Session["UserId"]) || Session["Admin"] != null)
                {
                        @Html.Raw("| ") @Html.ActionLink("Edit post", "Edit", "Posts", new { postId = post.PostID }, null)
                        @Html.Raw(" | ") @Html.ActionLink("Delete post", "Delete", "Posts", new { postId = post.PostID }, null)
                    }
                </td>
            </tr>

            <tr>
                <td>

                    @foreach (var comment in post.Comments)
                {
                        @Html.Raw("Posted by: ") @comment.User.FirstName @Html.Raw(" ") @comment.User.LastName <br />
                        @comment.Content <br />
                    }

                    <a href='#' onclick="SetGroupSession(@Model.GroupID); @("window.location.href='" + @Url.Action("Create", "Comments",new { postId = post.PostID },null) + "'");">Create Comment</a>
                    <hr />
                </td>

            </tr>

        }
    </table>


<script>

    function SetGroupSession(groupId) {
        var id = groupId;
        $.ajax({
            type: "GET",
            url: "/Groups/SetGroupSession",
            data: { groupId: id }
        });
    }
</script>

@section Header{
    <header class="major">
        <h2>
            @Model.Title <br />

        </h2>
        Active members: <br />

        <div>
            @foreach (var member in Model.Members)
            {
                @member.FirstName@Html.Raw(" ") @member.LastName @Html.Raw(" ")
            }
        </div>
        <br />
        <input type="button" value="Create Post" onclick="SetGroupSession(@Model.GroupID); @("window.location.href='" + @Url.Action("Create", "Posts",new { groupId =Model.GroupID },null) + "'");" />
    </header>

}
