@model IEnumerable<SocialNetwork.Models.Post>

@{
    ViewBag.Title = "SearchPosts";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit","Posts", new { postId = item.PostID },null) |
                    @Html.ActionLink("Delete", "Delete", "Posts", new { postId = item.PostID },null)
                </td>
            </tr>
        }
    </table>
</div>

@section Header{
    <header class="major">
        <h2>
            Post search results
        </h2>
        <input type="button" value="Return to search" onclick="@("window.location.href='" + @Url.Action("AdvancedSearch", "Admin") + "'");" />
    </header>
}


